<mat-chip-list>
  <mat-chip selected color="primary"
            (click)="onAttributeClick(CharacterItemAttribute.firstName)">
    {{ item?.firstName || 'John' }}
  </mat-chip>
  <mat-chip selected color="accent"
            (click)="onAttributeClick(CharacterItemAttribute.lastName)">
    {{ item?.lastName || 'Doe' }}
  </mat-chip>
  <mat-chip selected color="warn"
            (click)="onAttributeClick(CharacterItemAttribute.birthYear)">
    {{ item?.birthYear || 1970 }}
  </mat-chip>
</mat-chip-list>
