<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ item?.title }}
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="item?.imageUrl" />
  <mat-card-content>
    {{ item?.year }}
  </mat-card-content>
</mat-card>
